{% extends 'base.html' %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/model.css') }}">
    {% endblock %}

    {% block content %}


<body id="staffmodel">
    <div class="container text-center my-3">
        <div class="container scrim">
            <h1 style="border-bottom: 2px white solid;">Staff</h1>
            <p>Explore the musicians, producers, writers, and voice actors who bring your favourite anime to life from behind the scenes.  
            </p>
        </div>

        
        <div class="container">
            <div class="col scrim">
        <form action="/staff" method="POST">
            <br>
            <div class="search_wrap">
                <input type="text" placeholder="Search.." name="search_string" value="{{search_string}}" id="staff_search_term">
                <input type="submit" value="Search Staff" id="staffsearchbutton">
                </div>
            <br>
            <!-- <label for="sort">Sort by</label> -->
            <select name="sort">
            {% for sort in sorts %}
            <option value="{{ sort[0] }}" {% if sort[0] == sort_method %} selected {% endif %}>{{ sort[1] }}</option>
            {% endfor %}
            </select>
            <br>
            <br>

            <div class="dropdown searchbar_div filterseparator" data-dropup-auto="false">
                <button data-display="static" class="btn btn-warning dropdown-toggle" type="button" 
                        id="dropdownMenu1" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span>
                  Language
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
                {% for language, remember in languages %}
                  <li >
                    <label>
                      <input type="checkbox" name="languages" value="{{language}}" {% if (remember == 1) %} checked {% endif %}> {{language}}
                      <span class="checkmark"></span>
                    </label>
                  </li>
                {% endfor %}  
                </ul>
            </div>
            <div class="dropdown searchbar_div" data-dropup-auto="false">
                <button class="btn btn-warning dropdown-toggle" type="button" 
                        id="dropdownMenu1" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span>
                  Field
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
                {% for field, remember in fields %}
                    <li >
                        <label>
                        <input type="checkbox" name="fieldfilter" value="{{ field[0] }}" {% if (remember == 1) %} checked {% endif %}> {{field[1]}}
                        <span class="checkmark"></span>
                        </label>
                    </li>
                {% endfor %}
                </ul>
            </div>

            
            <div class="slidecontainer searchbar_div">
                <input type="range" min="0" max="25" value="{{score_filter}}" class="slider" id="myRange" name="score">
                <p>Voice/Production Roles <span id="demo"></span></p>
            </div>

            <script>
                var slider = document.getElementById("myRange");
                var output = document.getElementById("demo");
                output.innerHTML = slider.value; // Display the default slider value
        
                // Update the current slider value (each time you drag the slider handle)
                slider.oninput = function() {
                    output.innerHTML = this.value;
                }
            </script>

            
            <div class="searchbar_div">
                {% for direction, remember in directional %}
                <div class="form-check" style="text-align: left;">
                    <input class="form-check-input" type="radio" name="directional" id="directional{{loop.index}}" value="{{direction}}" {% if remember == 1 %} checked {% endif %}>
                    <label class="form-check-label" for="directional{{loop.index}}">{{ direction }}</label>
                </div>
                {% endfor %}
                </div>

            
        </form>     
    </div>
        </div>
        <br>

        <!--- <h1 class="scrim" style="color: white; border-bottom: 2px white solid;">Popular Staff</h1> --->

        <ul class="pagination justify-content-center" data-page-size="9">
            <li class="page-item"><a class="page-link" href="#" rel="prev">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#" rel="next">Next</a></li>
        </ul>
    </div>

    <div class="container text-center mt-3">
        <div class="row" >
            <div class="card-deck" style="align-items: center; justify-content: center; display: flex;">
                {% for staff in popularList %}
                <div class="card mb-4" style="min-width: 22rem; max-width: 22rem;">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ staff['image']['large'] }}" style = "width: 100%; height: 22rem;" alt="Card image">
                        <h4 class="card-title">{{ staff['name']['full'] }}</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Number of characters voiced: {% if staff['characters']['edges']|length == 25 %}>{% endif %}{{ staff['characters']['edges']|length }}</li>
                            <li class="list-group-item">Number of production roles: {% if staff['staffMedia']['edges']|length == 25 %}>{% endif %}{{ staff['staffMedia']['edges']|length }}</li>
                            <li class="list-group-item">Language: {{ staff['language'] }}</li>
                        </ul>
                        <!--<a href="/staff/{{ staff['id'] }}" class="btn btn-primary stretched-link">Go to {{ staff['name']['full'] }}'s page</a>-->
                        <a href="/staff/{{ staff['id'] }}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/model.js') }}"></script>
</body>
    {% endblock %}